@import "../colors.scss";

* {
   all: unset;
   transition: all 0.3s ease;
   font-weight: Bold;
  }

@import "bar/bar.scss";
@import "apps/apps.scss";
@import "workspaces/workspaces.scss";
@import "time/time.scss";
