.time {
       background: $t7black;
       padding: 5px;
       border: 3px solid $t7white;
       border-radius: 10px;
}

.hour {
       font-family: Iosevka;
       font-size: 10pt;
       color: $t9white;
}

.colon {
        font-family: Triforce;
        font-size: 11pt;
        font-weight: Normal;
        color: $t9white;
}

.minute {
         font-family: Iosevka;
         font-size: 10pt;
         color: $t9white;
}

